.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header a {
  text-decoration: none;
  color: papayawhip;
}

.App-header img {
  width: 50px;
  border-radius: 100%;
}

.Chat-main {
    width: 80vw;
    margin: 0 auto;
}